.signin-container{
   margin: 0 !important;
   padding: 0 !important;
   min-width:100% !important;
}

.signin-back{
    background-color: white;
}
.hr {height:1px; border:none; color:#000; background-color:#000;}
.sign-box{
    border : 1px solid rgb(231, 229, 229);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:30px;
    width: 600px;
    margin: 0 auto;
    margin-top: -100px;
    background-color: white;
    position: relative;
    z-index: 1;
}
.signup-box{
    flex-direction: column;
    border : 1px solid rgb(231, 229, 229);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:30px;
    width: 550px;
    margin: 0 auto;
}
.sign-text{
    color:black;
    font-weight: 800;
}

.signuptext-danger{
    border:2px solid red;
}

.signup-row{
    display: flex;
    flex-direction: row;
    width:80%;
}

.signup-el{
    margin-left: 25px;
}

.signin-image{
    margin-top: -450px;
    position: relative;
   
}

.site-button:hover{
    background-color: rgba(255, 227, 27, 0.95);
    color: white;
}

.signup-image{
    margin-top: -480px;
}
.signup-image-area{
    margin-top:-270px;
    margin-left: 1030px
}

.bg-text{
    font:20px;
    color: black;
    margin-top: -120px;
}

.Select-signup {
    width: 230px !important;
    z-index: 10 !important;
  }
  
  .Select-signup.is-open {
  z-index: 10 !important;
  }
  
  .Select-signup-menu {
    position: fixed !important;
    width: 440px !important;
    margin: 1px;
  }

  .signup-field:hover{
      border: 1px solid rgb(117, 117, 117);
  }
  
  .select__control:hover{
    border: 1px solid rgb(117, 117, 117) !important;
  }