
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  body{font-size: 16px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  body{font-size: 18px;}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
    position: relative;
  }
  .content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
}

* {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif !important;
}

.navbar * {
  font-family: 'Montserrat', sans-serif !important;
  /* color: white !important; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.modal-header {
  border: none;
}

.modal-body {
  padding-top: 0px;
}

body {
  background-color: #1D2026;
  /* background-color: #1D2026; */
}

.navbar {
  background-color: #272e3b;
  box-shadow:  3px 13px 119px 29px #15171b;
}

.post-box {
  background-color: #272e3b;
  box-shadow:  3px 13px 119px 29px #15171b;


  /* border: 1px solid #393939; */
}

.post-box .post-link>a>span, div, p {
  color: rgb(179, 179, 179);
}

  
.footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  margin-top: auto;
  height: 2.5rem;            /* Footer height */

}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.no-decoration {
  text-decoration: none !important;
  color: black !important;
}

.box-shadow {
  padding: 10px 20px;
  border-radius: 0.25rem;
}

.username:hover {
  /* color: black !important; */
  text-decoration: none;
}

.text-l-gray {
  color: #5b5b5b !important;
}

.text-d-gray {
  color: #3a3a3a !important;
}

.upvote {
  text-decoration: none !important;
  color: #3a3a3a !important;
}

.upvote:hover {
  text-decoration: none !important;
}

.red-heart {
  margin-top: -40px;
  z-index: -1;
}

.upvote:hover .red-heart {
  color: #eb6c4c;
  z-index: 1;
}

.upvote:hover .white-heart {
  color: #eb6c4c;
  z-index: -1;
}

.post-box:hover {
  background-color: #303949;
  cursor: pointer;

  /* border: 1px solid gray; */
}

.post-box:hover p, .post-box:hover div, .post-box:hover span {
  color: white !important;
}

.post-box:hover .badge {
  color: black !important;
}

.new-post-button {
  text-align: center;
  background-size: 200% auto;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  background-image: linear-gradient(to left, #55bdf1 0%, #2fadec 51%, #84fab0 100%);
  font-weight:700;
}

.new-post-button:hover {
  background-image: linear-gradient(to left, #8fd3f4 0%, #8fd3f4 51%, #84fab0 100%);
  background-position: right center; /* change the direction of the change here */
}

.new-post-button:hover div {
  color: white !important;
}

.oops-text{
  font-weight: 900;
  font-size:40px;
  font-family: 'Frank Ruhl Libre', serif;  
  color: rgb(20, 20, 20)
}
.back-home-btn {
  border: 1px solid #222222;
  color: #222222;
  background-color: white;
  font-weight:700;
  border-radius:5px;
  padding:0px 10px;
}

.back-home-btn:hover {
  background-color: #222222;
  border: 1px solid #222222;
  color: white
}

.back-home-btn:focus {
  outline:0;
}


.post-item-buttons{
  background-color: transparent;
  border:none;
  color: gray;
  outline:none;
  font-weight: 600;
  font-size:14px;
  margin: 0px 5px!important;
  width:70px;
  padding: 5px;
  border-radius: 4px;
}
.post-item-buttons:hover{

  outline:none;
  background-color: rgb(240, 240, 240);
}
.post-item-buttons:focus {outline:0;}

.delete-button{
  width:80px;
}

.preview-button{
  width : 90px;
} 

.comment-card{
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
}

.post-comment{
  width: 100%;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid gray;
  text-decoration: none;
  background-color: transparent;
}
.post-comment:focus {
  outline:none;
  border-bottom: 2px solid black;
}

.com-box{
  width: 100%;
}

.post-reply-but{
  background-color: transparent;
  border:1px solid rgb(0, 0, 0);
  border-radius:4px;
  color:black;
  margin-left: 5px !important;
}

.cancel-btn{
  margin-left: 15px;
  background-color: transparent;
  border:1px solid rgb(0, 0, 0);
  border-radius:4px;
  color:black;
  margin-left: 12px !important;
}
.card-text{
  font-size: 18px;
  color:rgb(42, 42, 42)
}

.reply-box{
  margin-top: -10px;
  border-left: 1px solid rgb(201, 201, 201);
}

.username {
  font-size: 16px;
  font-weight: 400;
  color: rgb(211, 211, 211);
}

.edit-post-button{
  background-color: transparent;
  border:none;
  color: gray;
  outline:none;
  font-weight: 600;
  font-size:16px;
  padding:5px;
}

.edit-post-button:hover{
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding:5px;
}

.edit-post-button:focus{
  outline:none;
}


.signin-box-com{
  border:1px solid rgb(151, 151, 151);
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  color: gray;
  width: 100%;
  justify-content: space-between;
}

.signin-box-text{
  font-size: 18px;
  margin-top:2px;
}

.com-links{
  color: #494949;
  text-decoration: none !important;  
}
.com-links:hover {
  color: #494949;
  text-decoration: none !important;  
}

.site-button{
  background-color: rgb(39, 248, 238)
}

.post-comment-btn {
  background-color: #202020;
  border: 1px solid #202020;
  color: white;
  font-weight:700;
  border-radius:5px;
  padding:4px;
  margin: 0 auto;
}

.post-comment-btn:hover {
  border: 1px solid #202020;
    color: #202020;
    background-color: white;
}

.post-comment-btn:focus {
  outline:0;
}

.page-footer {
  margin-top: auto;
}

.footer-text{
  color: #9c9c9c;
  text-align: center;
  font-size: 16px;
}

.Toastify__toast-container--top-right {
  top: 4em !important;
}

.mce-content-body p {
  padding: 0;
  margin: 2px 0 !important;
}

.img-fix-div img{
  max-width:700px;
  max-height:500px; 
}

.latest-line {
  display:flex;
  height:3px;
  width: 100%;
  background-image: linear-gradient(to left, #83ecfa 0%, #5cffff 51%, #84fab0 100%);
}

.latest-text{
  font-size: 19px;
  color:white;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 5px;
}
