
/* .modal-backdrop


.dropdown-item{
    width:90% !important;
    padding:0.25rem 1rem !important;
}

.feature-but-div{
  display: flex;
  margin-left:10px;
}

.feature-div{
  margin-top: 8px;
} */


.hackathon-idea-card:hover {
  border: 1px solid rgb(230, 230, 230);
  -webkit-box-shadow: 0px 0px 74px -40px rgba(90,100,237,0.69);
  -moz-box-shadow: 0px 0px 74px -40px rgba(90,100,237,0.69);
  box-shadow: 0px 0px 74px -40px rgba(90,100,237,0.69);
  

}