.modal-backdrop
{
    opacity:0.2 !important;
}

.dropdown-item{
    width:90% !important;
    padding:0.25rem 1rem !important;
}

.feature-but-div{
  display: flex;
  margin-left:10px;
}

.feature-div{
  margin-top: 8px;
}

.post-item-buttons{
    background-color: white;
    border:none;
    color: gray;
    outline:none;
    font-weight: 600;
    font-size:14px;
    margin: 0px 5px!important;
    width:70px;
    padding-bottom: 0px;
  }
  .post-item-buttons:hover{
  
    outline:none;
    background-color: rgb(230, 230, 230);
  }
  .post-item-buttons:focus {outline:0;}

 .delete-button{
    width:80px;
  }

  .preview-button{
    width : 90px;
  }
