.post-tag-button:hover {
  background-color: #f1f1f1 !important;
  border: none !important;
}

.post-tag-button {
  background-color: #f1f1f1 !important;
  border: none !important;
}

.details-red-heart {
  margin-top: -32px !important;
}

.rdw-option-wrapper {
  background-color: white;
  box-shadow: none !important;
  border: none !important;
  padding: 3px !important;
  height: 25px !important;
  width: 25px !important;
  margin-right: 10px !important;
}

.rdw-option-wrapper:hover {
  background-color: rgb(223, 223, 223);
}

.rdw-option-active {
  background-color: rgb(199, 199, 199) !important;
}

.rdw-editor-wrapper {
  border: none !important;
}

.rdw-dropdown-wrapper {
  box-shadow: none !important;
}

.post-display span {
  display: block;
  word-wrap: break-word;
}

.post-display img {
  justify-self: center;
}

.post-title-input {
  font-size: 40px;
  border: none !important;
}

.post-title-input:hover {
  border: none !important;
}

.post-title-input:focus {
  border: none !important;
  border-bottom: 1px solid gray !important;
  outline: none;
}

.Select {
  width: 400px !important;
  z-index: 10 !important;
}

.Select.is-open {
z-index: 10 !important;
}

.Select-menu {
  position: fixed !important;
  width: 440px !important;
  margin: 1px;
}

.like-button {
  background-color: transparent;
  text-align: center;
  border:none;
  outline: 0;
  height: 100%;
}

.like-button:hover{
  outline: 0;
}
.like-button:focus{
  outline: 0;
}

.red-heart-post {
  margin-top: -34px;
  z-index: -1;
}

.upvote:hover .red-heart-post {
  color: #eb6c4c;
  z-index: 1;
}

.upvote:hover .white-heart-post {
  color: #eb6c4c;
  z-index: -1;
}

.draft-post-btn {
  border: 1px solid #686868;
  color: #686868;
  background-color: transparent;
  font-weight:700;
  border-radius:5px;
  padding:0px 10px;
}

.draft-post-btn:hover {
  background-color: #686868;
  border: 1px solid #686868;
  color: white
}

.draft-post-btn:focus {
  outline:0;
}

.icon-btn{
  background-color: transparent;
  outline: 0;
  border:none;
  padding:10px 13px;
}

.modal-backdrop
{
    opacity:0.2 !important;
}

.team-modal-button{
  background-color: white;
  outline: 0;
  border:1px solid black;
  border-radius: 4px;
  width:140px;
}
.team-modal-button:hover{
  background-color: black;
  color:white;
  outline: 0;
}
.team-modal-button:focus{
  outline:0;
}

.search-email-card{
  border:1px solid rgb(211, 211, 211);
  border-radius: 4px;
}

.add-user-button{
  background-color: transparent;
  font-size:18px;
  border:none;
}
.add-user-button:focus{
  outline:0;
}

.search-user-input{
  background-color: transparent;
  font-size:18px;
  border:none;
  width:100%
}
.search-user-input:focus{
  outline:0;
}