.leaderboard-box {
  background-color: #1F1F1F;
  box-shadow: 3px 13px 57px 6px rgba(0,0,0,1);
}

.leaderboard-box * {
  color: white !important;
  
}

.leaderboard-row:hover {
  background-color: #2e2e2e;
}

