.pagination{
    padding: 0;
    margin: 0;
}

.previous>a {
    font-weight: 600;
    font-size: 30px;
    margin-right: 10px;
    outline: none;
}

.next>a {
    font-weight: 600;
    font-size: 30px;
    outline: none;
}

.break-me{
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

li>a.page::before {
   content: '';
   visibility: visible;
   display: inline-block;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   border-style: solid;
   border-width: 2px;
   line-height: 50px;
   border-color: white;
   background-color: rgba(255, 255, 255, 0);
}

li>a.page {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.active>a {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.active>a::before {
   visibility: visible;
   content: '';
   display: inline-block;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   border-style: solid;
   border-width: 2px;
   line-height: 50px;
   border-color: white;
   background-color: rgba(233, 233, 233, 0.3);
}

ul.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}